# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: rgallego <rgallego@student.42madrid>       +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2021/09/14 12:47:31 by rgallego          #+#    #+#              #
#    Updated: 2022/03/02 16:33:39 by rgallego         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

# Test files
libftTester/
libft-unit-test/
libft-war-machine/


# Make files
date
gcc
hostname
libft.a
*.*.swp
*.o
*.d
a.out
main.c
