# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: rgallego <rgallego@student.42madrid>       +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2021/09/14 12:47:31 by rgallego          #+#    #+#              #
#    Updated: 2022/02/14 12:10:12 by rgallego         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

### Make files ###
date
gcc
hostname
pipex
*.*.swp
*.o
*.d

### Test files ###
infile
outfile
